@import "../sass/variables";
@import "../sass/mixins";

.sectionHero {
  padding: 5rem 0 0.75rem;

  @include media-breakpoint-up(sm) {
    padding: 5rem 0;
  }

  .heroText {
    text-align: center;
    margin-bottom: 7rem;
  }
}
